@font-face {
  font-family: 'JetBrainsMono';
  src: url('../fonts/JetBrainsMono-Regular.ttf');
  src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'JetBrainsMonoThin';
  src: url('../fonts/JetBrainsMono-Thin.ttf');
  src: url('../fonts/JetBrainsMono-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'JetBrainsMonoBold';
  src: url('../fonts/JetBrainsMono-ExtraBold.ttf');
  src: url('../fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
::-webkit-scrollbar {
  display: none;
}
html {
  background-color: rgba(126, 126, 121, 0.425);
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}
#app {
  /* font-family: JetBrainsMono; */
  font-family: Arial, Avenir, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.container__wrapper {
  background-color: rgba(162, 228, 236, 0.555);
  box-shadow: 2px 2px 5px gray;
  width: 90vw;
  margin: auto;
  padding-bottom: 10px;
}
.container__head {
  width: auto;
  align-self: center;
  display: flex;
  justify-content: space-between;
}
.container__header--search,
.container__header--title {
  margin: 15px;
  width: 50%;
}
.container__header--title {
  text-align: left;
}
.container__header--search {
  text-align: right;
}
.container__header--search-field {
  border: none;
  border-radius: 2px;
  height: 25px;
  width: 50%;
}
.leads__titles {
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.leads__titles--wrapper {
  align-self: center;
}
.leads__titles--item {
  color: rgb(40, 44, 44);
  width: 25%;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.lead__detail--wrapper {
  /* margin: 0 0 15px 0; */
}
.lead__detail {
  background-color: azure;
  box-shadow: 2px 2px 7px gray;
  justify-content: space-between;
  display: flex;
  height: 50px;
  margin: 0 15px 0 15px;
}
.lead__detail--item {
  align-self: center;
  width: 25%;
}
.lead__title {
  word-wrap: break-word;
  margin-left: 15%;
  text-align: left;
}
.lead__detail--item-expander {
  user-select: none;
  cursor: pointer;
  margin-right: 6px;
}
.lead__detail--lead-card {
  cursor: pointer;
}
.lead__detail--item-expander::before {
  content: '\25B6';
  display: inline-block;
  transition: 0.5s;
}
.lead__status {
  margin: auto;
  word-wrap: break-word;
  width: 70%;
  font-size: 12px;
  border-radius: 10px;
  color: rgb(26, 104, 134);
}
.contact-info-hidden {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s linear, opacity 0s;
}
.isExpand::before {
  transform: rotate(90deg);
}
.isContactsVisible {
  height: auto;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s ease-out, opacity 0.5s linear;
}
.contact__info {
  /* box-shadow: 2px 2px 1px gray; */
  /* background-image: linear-gradient(rgb(151, 169, 226), rgb(203, 204, 150)); */
  background-color: rgba(48, 144, 156, 0.404);
  height: 50px;
  width: auto;
  margin: 0 15px 0 15px;
  display: flex;
  align-items: center;
}
.contact__list-info {
  background-color: azure;
  box-shadow: 2px 2px 7px gray;
  display: flex;
  height: 50px;
  margin: 0 15px 0 15px;
  align-items: center;
}
.contact__info--name,
.contact__info--fields--value {
  margin-left: 50px;
  margin-right: 10px;
  color: rgb(0, 0, 0);
  text-align: left;
  width: 15%;
}
.contact__info--fields {
  display: flex;
  margin-right: 10px;
}
.contact__info--fields--value--icon {
  filter: invert(50%) sepia(100%) saturate(4476%) hue-rotate(190deg)
    brightness(100%) contrast(200%);
}
@media (max-width: 600px) {
  #app {
    font-size: 9px;
  }
  .container__wrapper {
    width: 100%;
  }
  .lead__status {
    width: 100%;
    font-size: 7px;
    border-radius: 5px;
  }
  .contact__info--name,
  .contact__info--fields--value {
    margin-left: 20px;
    width: 15%;
  }
  .lead__detail {
    margin: 0;
  }
}
