<template>
  <ContactsList />
</template>
<script lang="ts">
import ContactsList from '../components/UI/ContactsList.vue';
import { defineComponent } from 'vue';
export default defineComponent({
  components: {
    ContactsList,
  },
  setup() {},
});
</script>
