<template>
  <LeadDetail />
</template>
<script lang="ts">
import LeadDetail from '../components/UI/LeadDetail.vue';
import { defineComponent } from 'vue';
export default defineComponent({
  components: {
    LeadDetail,
  },
  setup() {},
});
</script>
