<template>
  <Leads />
</template>
<script lang="ts">
import Leads from '../components/UI/Leads.vue';
import { defineComponent } from 'vue';
export default defineComponent({
  components: {
    Leads,
  },
  setup() {},
});
</script>
