<template>
  <Main />
</template>
<script lang="ts">
import Main from '../components/Main.vue';
import { defineComponent } from 'vue';
export default defineComponent({
  components: {
    Main,
  },
  setup() {},
});
</script>
