<template>
  <div>
    <div v-if="contacts.length">
      <div v-for="(contact, idx) in contacts" :key="idx">
        <div class="contact__info">
          <div class="contact__info--name">{{ contact.contactId.name }}</div>
          <div v-if="!contact.contactId.customFields.length">
            Почта и телефон не указаны указаны
          </div>
          <div
            v-for="(field, idx) in contact.contactId.customFields"
            :key="idx"
          >
            <div class="contact__info--fields">
              <div v-for="(value, idx) in field.values" :key="idx">
                <div class="contact__info--fields--value">
                  <div v-if="field.field_code == 'PHONE'">
                    <a :href="'tel:' + field.values[idx].value"
                      ><img
                        :src="require(`@/assets/img/phone.svg`)"
                        alt="phone"
                        width="15"
                        height="15"
                        class="contact__info--fields--value--icon"
                    /></a>
                  </div>
                  <div v-if="field.field_code == 'EMAIL'">
                    <a :href="'mailto:' + field.values[idx].value"
                      ><img
                        :src="require(`@/assets/img/email.svg`)"
                        alt="email"
                        width="15"
                        height="15"
                        class="contact__info--fields--value--icon"
                    /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="contact__info">
      <div class="contact__info--name">Нет контакта</div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  props: {
    contacts: {
      type: Array,
    },
  },
  setup() {},
});
</script>
