<template>
  <div class="container__wrapper">
    <div class="container__head">
      <div class="container__header--title">
        <router-link to="/leads">Сделки</router-link>&nbsp;<router-link
          to="/contacts"
          >Контакты</router-link
        >
      </div>
    </div>
    <hr size="1" />
    <div class="leads__titles--wrapper">
      <div class="leads__titles">
        <div class="leads__titles--item">Список контактов</div>
      </div>
    </div>
    <hr size="1" />
    <div class="spinner" v-if="isLoading">
      <div class="lds-ripple">
        <div></div>
        <div></div>
      </div>
    </div>
    <div v-if="!isLoading && contacts_list.length">
      <div v-for="(contact, idx) in contacts_list" :key="idx">
        <div class="contact__list-info">
          <div class="contact__info--name">{{ contact.name }}</div>
          <div v-if="contact.customFields == undefined">
            Почта и телефон не указаны указаны
          </div>
          <div v-for="(field, idx) in contact.customFields" :key="idx">
            <div class="contact__info--fields">
              <div v-for="(value, idx) in field.values" :key="idx">
                <div class="contact__info--fields--value">
                  <div v-if="field.field_code == 'PHONE'">
                    <a :href="'tel:' + field.values[idx].value"
                      ><img
                        :src="require(`@/assets/img/phone.svg`)"
                        alt="phone"
                        width="15"
                        height="15"
                        class="contact__info--fields--value--icon"
                    /></a>
                  </div>
                  <div v-if="field.field_code == 'EMAIL'">
                    <a :href="'mailto:' + field.values[idx].value"
                      ><img
                        :src="require(`@/assets/img/email.svg`)"
                        alt="email"
                        width="15"
                        height="15"
                        class="contact__info--fields--value--icon"
                    /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="!isLoading && !contacts_list.length">Ничего не найдено</div>
  </div>
</template>
<script lang="ts">
import { computed, onMounted, ref, defineComponent } from 'vue';
import { fetchingUrl } from '@/utils/fetching/index.ts';
import LeadsList from '@/components/UI/LeadsList.vue';
export default defineComponent({
  components: { LeadsList },
  setup() {
    const isLoading = ref(true);
    const contacts = ref([]);
    onMounted(async () => {
      // const response = await fetchingUrl("https://discdev.ru/kapayji");
      const response = await fetchingUrl(
        'https://new-rocket-back.herokuapp.com/api/contacts',
      );
      // const response = await fetchingUrl('http://localhost:3000/api/contacts');
      contacts.value = response;
      console.log(contacts.value);
      isLoading.value = false;
    });
    const contacts_list = computed(() => {
      // console.log(leads.value);
      return contacts.value;
    });
    return { isLoading, contacts_list };
  },
});
</script>
