<template>
  <div class="lead__detail--wrapper">
    <div class="lead__detail">
      <div class="lead__detail--item">
        <div class="lead__title">
          <span
            class="lead__detail--item-expander"
            :class="{ isExpand: isContactExpand }"
            @click="contentExpand"
          ></span
          ><span
            class="lead__detail--lead-card"
            @click="handleLeadCard(lead.id)"
            >{{ lead.name }}</span
          >
        </div>
      </div>
      <div class="lead__detail--item">
        <div
          class="lead__status"
          :style="{ 'background-color': lead.status.statusColor }"
        >
          {{ lead.status.statusName }}
        </div>
      </div>
      <div class="lead__detail--item">{{ lead.user }}</div>
      <div class="lead__detail--item">{{ lead.creatingDate }}</div>
      <div class="lead__detail--item">{{ lead.budget }} &#8381;</div>
    </div>
    <div
      class="contact-info-hidden"
      :class="{ isContactsVisible: isContactExpand }"
    >
      <Contacts :contacts="lead.leadsId" />
    </div>
  </div>
</template>
<script>
import { ref } from '@vue/reactivity';
import Contacts from '@/components/UI/Contacts';
import { defineComponent } from 'vue';
import { useRouter } from 'vue-router';
export default defineComponent({
  components: { Contacts },
  props: {
    lead: {
      type: Object,
    },
  },
  setup() {
    const isContactExpand = ref(false);
    const router = useRouter();
    const contentExpand = () => {
      isContactExpand.value = !isContactExpand.value;
    };
    const handleLeadCard = (id) => {
      router.push({ name: 'lead_detail', params: { id } });
    };
    return {
      isContactExpand,
      contentExpand,
      handleLeadCard,
    };
  },
});
</script>
