<template>
  <div class="container__wrapper">
    <div class="container__head">
      <div class="container__header--title">
        <router-link to="/leads">Сделки</router-link>&nbsp;<router-link
          to="/contacts"
          >Контакты</router-link
        >
      </div>
      <div class="container__header--search">
        <input
          class="container__header--search-field"
          type="search"
          name=""
          id="query_search"
          v-model.lazy="queryValue"
        />
      </div>
    </div>
    <hr size="1" />
    <div class="leads__titles--wrapper">
      <div class="leads__titles">
        <div class="leads__titles--item">Название</div>
        <div class="leads__titles--item">Статус</div>
        <div class="leads__titles--item">Ответственный</div>
        <div class="leads__titles--item">Дата</div>
        <div class="leads__titles--item">Бюджет</div>
      </div>
    </div>
    <hr size="1" />
    <div class="spinner" v-if="isLoading">
      <div class="lds-ripple">
        <div></div>
        <div></div>
      </div>
    </div>
    <div v-if="!isLoading && leads_list.length">
      <div v-for="(lead, idx) in leads_list" :key="idx">
        <LeadsList :lead="lead" />
      </div>
    </div>
    <div v-if="!isLoading && !leads_list.length">Ничего не найдено</div>
  </div>
</template>
<script lang="ts">
import { computed, onMounted, ref, watch, defineComponent, Ref } from 'vue';
import LeadsList from '@/components/UI/LeadsList.vue';
import { useRouter } from 'vue-router';
import { fetchingUrl } from '@/utils/fetching/index.ts';
export default defineComponent({
  components: { LeadsList },
  setup() {
    const router = useRouter();
    const isLoading: Ref<Boolean> = ref(true);
    const leads: Ref<[][]> = ref([]);
    console.log(router);
    onMounted(async () => {
      // const response = await fetchingUrl("https://discdev.ru/kapayji");
      const response = await fetchingUrl(
        'https://new-rocket-back.herokuapp.com/api/leads',
      );
      // const response = await fetchingUrl('http://localhost:3000/api/leads/');
      leads.value = response;

      isLoading.value = false;
    });
    const leads_list = computed(() => {
      // console.log(leads.value);
      return leads.value;
    });
    const queryValue = ref('');
    watch(
      () => queryValue.value,
      async (nextValue, prevValue) => {
        isLoading.value = true;
        const response = await fetchingUrl(
          'https://new-rocket-back.herokuapp.com/api/leads/search?name=' +
            nextValue,
        );
        // const response = await fetchingUrl(
        //   'http://localhost:3000/api/leads/search?name=' + nextValue,
        // );

        if (nextValue !== '') {
          router.push({
            path: `/leads/search`,
            query: { name: nextValue },
          });
        } else {
          router.push({ path: '/leads' });
        }
        leads.value = response;

        isLoading.value = false;
      },
    );
    return { isLoading, leads_list, queryValue };
  },
});
</script>
