<template>
  <div class="container__wrapper">
    <div class="container__head">
      <div class="container__header--title">
        <router-link to="/leads">Сделки</router-link>&nbsp;<router-link
          to="/contacts"
          >Контакты</router-link
        >
      </div>
    </div>
    <hr size="1" />
    <div class="leads__titles--wrapper">
      <div class="leads__titles">
        <div class="leads__titles--item">Карточка сделки</div>
      </div>
    </div>
    <hr size="1" />
    <div class="spinner" v-if="isLoading">
      <div class="lds-ripple"></div>
    </div>
    <div v-for="(lead, idx) in lead_card" :key="idx">
      <div class="lead__detail">
        <div class="lead__detail--item">
          <div class="lead__title">
            {{ lead.name }}
          </div>
        </div>
        <div class="lead__detail--item">
          <div
            class="lead__status"
            :style="{ 'background-color': lead.status.statusColor }"
          >
            {{ lead.status.statusName }}
          </div>
        </div>
        <div class="lead__detail--item">{{ lead.user }}</div>
        <div class="lead__detail--item">{{ lead.creatingDate }}</div>
        <div class="lead__detail--item">{{ lead.budget }} &#8381;</div>
      </div>
      <div class="contact-info">
        <Contacts :contacts="lead.leadsId" />
      </div>
    </div>
    <div v-if="!isLoading && !lead_card.length">Ничего не найдено</div>
  </div>
</template>
<script lang="ts">
import { computed, onMounted, ref, defineComponent } from 'vue';
import LeadsList from '@/components/UI/LeadsList.vue';
import Contacts from '@/components/UI/Contacts.vue';
import { useRoute } from 'vue-router';
import { fetchingUrl } from '@/utils/fetching';
export default defineComponent({
  components: { LeadsList, Contacts },
  setup() {
    const route = useRoute();
    const isLoading = ref(true);
    const lead = ref([]);
    // console.log(route.params.id);
    onMounted(async () => {
      // const response = await fetchingUrl("https://discdev.ru/kapayji");
      const response = await fetchingUrl(
        'https://new-rocket-back.herokuapp.com/api/leads/' + route.params.id,
      );
      //   const response = await fetchingUrl(
      //     'http://localhost:3000/api/leads/' + route.params.id,
      //   );

      lead.value = response;
      console.log(lead.value);
      isLoading.value = false;
    });
    const lead_card = computed(() => {
      // console.log(leads.value);
      return lead.value;
    });
    return { isLoading, lead_card };
  },
});
</script>
