<template>
  <div>
    <div v-for="(pipe, idx) in data._embedded" :key="idx">
      <div v-for="(item, idx) in pipe" :key="idx">
        {{ item }}
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref, Ref, onMounted } from 'vue';

export default defineComponent({
  setup() {
    const data: Ref<Object> = ref({});
    onMounted(async () => {
      const response = await fetch('http://localhost:3000/getleads');
      data.value = await response.json();
    });
    return { data };
  },
});
</script>
